{% extends "base.html" %}
{% load static %}
{%block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<table class="table table-hover">
    <!-- <thead> -->
        <tr style="font-weight: bold;font-family: Verdana, Geneva, Tahoma, sans-serif;">
            <td>Full Name</td>
            <td>Mobile</td>
            <td>Position</td>
            <td> </td>
            <td>
                <a href="{% url 'core:employee_insert' %}" class="btn btn-success">
                        <i class="fas fa-plus"></i>Add New
                </a>
            </td>
            <td></td>
        </tr>
    <!-- </thead> -->
    <tbody>
        {% for employee in employee_list %}
        <tr>
            <td>{{employee.fullname}}</td>
            <td>{{employee.mobile}}</td>
            <td>{{employee.position}}</td>
            <td>    
             
           <a   href="{% url 'core:employee_update' employee.id %}" class="btn btn-primary">Update
               <!-- <button type="submit" class="btn btn-primary"> -->
                   <!-- <a href="{% url 'core:employee_update' employee.id%}"></a> -->
                   <!-- Update</button> -->
              </a>
            </td>
            <td><form action="{% url 'core:employee_delete' employee.id %}" method="POST" class="d-inline" >
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Delete
                </button>
            </form></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
